.current_page{
    color: green;
}

body{
    background-color: #E7E7E7;
    max-width: 100%;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}


.favicon{
    border-radius: 60%;
}

/* Header */
.jumbotron{
    background-image: url('../assets/images/me.JPG') center center no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    color:#FCFCFF;
    text-align:right;
    min-height: 100vh;
    width: 100vw;
    position: relative;
}

.brief_bio{
    font-size: 1em;
}

#navigation{
    font-size: 3em;
    text-align: right;
}




.text .col-md-8{
    padding-top: 2em;
}


/* 
PROJECTS    
*/
hr{
    margin-top: 0em;
    background-color: #17303B;
    height: 1px;
}


#ProjectSectionHeader{
    font-size: 3em;
}

.Project_Title{
    font-size: 2em;
}


.Project{
    text-align: center;
}

.text{
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 0.1em;
}

img{
    max-width:100%;
    width: auto;
    height:auto;
}

#EMG_gif{
    width: 30em;
    height: 18em;
}


iframe{
    max-width:100%;
    width: auto;
    height: auto;
}


#disclaimer{
    font-size: 0.5em;
}



/* 
RESEARCH    
*/

.Research{
    text-align: center;
}

#ResearchSectionHeader{
    font-size: 3em;
}

.Research_Title{
    font-size: 2em;
}

#Authors{
    font-size: 1.3em;
}

#PI_School{
    font-size:1.3em;
}


ul{
    display: table;
    margin:0 auto;
}

#Subjects{ 
    list-style-type: none; 
}


#futureProjects{ 
    list-style-type: none; 
}


#list{
    text-align: left;
}


#SkillsSectionHeader{
    font-size: 3em;
}

.skills{
    text-align: left;
}

.SkillsHeader{
    text-align: center;
    font-size: 1.5em;
}